@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #0f172a;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.title-font {
  font-family: 'Montserrat', sans-serif;
}
